            <!-- <div class="outer. col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0"> -->
            <div class="outer col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0" style="background-color: #00FF00;">
              <div class="inner">
                <h4>tech side bar xxx</h4>
              </div>
              <div class="inner">
                <h6>ad here</h6>
              </div>
              <div class="inner">
                <h6>ad here</h6>
              </div>
            </div>


<!-- <div class="outer col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0" style="background-color: #00FF00;">
  <!-- Your content goes here -->
<!-- </div> -->


