<!-- ===== right column. ======================================= -->

<!-- <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"> -->
<div class="col-lg-9 col-lg-offset-0 col-md-9 col-md-offset-0">


<!-- this section is top area for adds -->
  <!-- <div class="well"> -->
  <!-- <div>
    <h6>put horz add here</h6>
  </div> -->
<!-- End of top section for adds.     -->


  <!-- Ranges through content/tech/*.md -->
  <div class="posts-list">
    {{ range .Pages }}
    <div style="display: flex;">
      {{ partial "tech/rightImageLeft.html" .}} 
          <!-- right side of tech section -->
      {{ partial "tech/rightTextRight.html" .}}
    </div>

    {{ end }}
  </div>
</div>
