{{ define "main" }}
  <div class="container" role="main">
    <div class="row">


            <div class="outer. col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0">
              <div class="inner">
                <h4>tech side bar</h4>
              </div>
              <div class="inner">
                <h6>ad here</h6>
              </div>
              <div class="inner">
                <h6>ad here</h6>
              </div>
            </div>
<!-- ===== right column. ======================================= -->


      <!-- <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"> -->

           <div class="col-lg-9 col-lg-offset-0 col-md-9 col-md-offset-0">

              {{ with .Content }}
                <div class="well">
                      <h6>put horz add here</h6> 
                </div>  
              {{ end }}

          <!-- <div class="well"> -->
          <div>
<p>---------   in content ----------------</p>
            <!-- {{.}} -->



{{ if .Params.image }} 

  <div style="display: flex;">
    <div style="width: 15%; background-color: {{ .Site.Params.vyBKColor }}; display: flex; justify-content: center; align-items: center;">
        <!-- Your image goes here -->
        <img src= "{{ .Params.image }}" alt="Image" style="max-width: 90%; max-height: 90%;">
    </div>
  </div>
{{ else }} 

  <div style="display: flex;">
      <div style="width: 2%; background-color: {{ .Site.Params.vyBKColor }}; display: flex; justify-content: center; align-items: center;">
          <!-- Your image goes here -->
          <!-- {{/* <img src= "/img03/goph02.png" alt="Image" style="max-width: 90%; max-height: 90%;"> */}} -->

      </div>
  </div>
{{ end }} 












          </div>
        {{ end }}

<p>=======================.   posts-lists ==========================</p>



        <div class="posts-list">
          {{ range .Paginator.Pages }}
            {{ partial "post_preview.html" .}}
          {{ end }}
        </div>
        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
